.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/herobg.png);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.herogradient{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, #0A1F8F 0.09%, rgba(10, 31, 143, 0.63) 18.39%, rgba(10, 31, 143, 0.00) 71.89%);
}

.heroinfo{
    height: 382.9px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    max-width: 595px;
    margin-left: 15%;
}

.herotitle{
    color: var(--white);
font-family: 'bebas';
font-size: 128px;
font-style: normal;
font-weight: 700;
line-height: 110px; /* 85.938% */
text-transform: uppercase;
}

.herop{
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 120% */
}