:root{
    --white: #fff;
    --black: #000;
    --darkgold: #74710C;
    --darkblue: #011944;
    --blue: #0A1F8F;
    --beige: #EFEFE1;
    --beige2: hsla(60, 30%, 91%, 0.2);
}

.darkmode{
    --white: #ffffff;
    --black: #000;
    --darkgold: #D9D8A3;
    --darkblue: #b9c4ff;
    --blue: #5e72e7;
    --beige: #74710C;
}

@font-face {
    font-family: 'prag';
    src: url(../fonts/PragatiNarrow-Regular.ttf);
}

@font-face {
    font-family: 'bebas';
    src: url(../fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'prag';
}


body{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    position: relative;
}

main{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.s1{
    display: flex;
    align-items: center;
    gap: 42px;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 105px;
}

.s1info{
display: flex;
align-items: flex-start;
flex-direction: row;
justify-content: space-between;
margin-top: -70px;
position: relative;
width: 75vw;
z-index: 3;
}

.s2{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: var(--beige);
    padding: 92px 0;
    background-image: url(../assets/pillars.png);
    background-size: cover;
    background-position: center;
}

.s2info{
    width: 80vw;
    display: flex;
align-items: flex-start;
flex-direction: row;
justify-content: space-between;
}



p{
    color: var(--blue);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 136.364% */
}